


body{
	margin: 0px;
	font-family:'Open Sans', sans-serif;	
}

body,html {
	scroll-behavior: smooth;
}

#header-image{
	height: 100vh;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

#header{
	position: relative;
}

.header-text{
	display: inline;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 36px;
	color: white;
	width: 100%; /*david edit*/
	text-align: center; /*david edit*/
	font-size: calc(12px + 6 * ((100vw - 320px) / 600));
}

/*david edit*/
.header-text h1 {
	font-size: 4em;
}

/*navbar*/

.menu {
  width: 100px;
  height: 300px;
  position: fixed;
  background-color: #003943;
  float: right;
  top: 20%;
  z-index: 1000;
}

.light-menu {
  width: 100%;
  height: 75px;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  background-color: rgba(4, 180, 49, 0.6);
}

#menu-center {
  width: 100%;
  height: 75px;
}
#menu-center ul {
  margin: auto;
}
#menu-center ul li {
  width: 100%;
  list-style: none;
  text-align: center;
}

.active {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}

a {
  font-size: 14px;
  color: #969696;
  text-decoration: none;
  line-height: 50px;
}

.container{
	/*isplay: grid;
	place-items: center;*/
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 810px;
	box-sizing: border-box;
	padding: 35px;

}


.container h1,h2{
	text-align: center;
}

.container h1, h2, h3{
	font-weight: normal;
}

#profile-details {
	text-align: left;
}


.profile-content{
	display: grid;
	grid-template-columns:repeat(auto-fill, minmax(220px, 1fr));
 	grid-gap: 10px;
}

.profile-image {
	text-align: center;
}

.profile-image img{
/*	max-width: 30%*/;
	border-radius: 50%; 
	margin: auto;
	width: 200px;
}

.checked {
	color: #3D7977;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	margin-bottom: 12px;
}
.ability-score{
	float: right;
}

.contact-info ul{
	display: table;
	width: 100%;
	list-style: none;
}


.contact-info ul li{
	display: table-cell;
	text-align: center;
	/*background-color: black;*/
}

.contact-info ul li a{
	display: block;
}

body>div:nth-child(even){
	background-color: #16180F;
	color: white;
}

body>div:nth-child(odd){
	background-color: #16353F;
	color: white;
}

/*contact-section*/
#contact {
	box-sizing: border-box;
}

.inner-width {
	max-width: 600px;
	margin: auto;
	padding: 0 20px;

}

.name,.email,.message {
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	color: #888;
	padding: 10px 6px;
	font-size: 14px;
	margin-bottom: 40px;
}

.name {
	float: left;
	width: 270px;
}

.email {
	float: right;
	width: 270px;
}

.message {
	min-width: 100%;
	max-width: 100%;

}

.inner-width button {
	background: none;
	color: #70a1ff;
	border: 1px solid #70a1ff;
	padding: 12px 40px;
	border-radius: 8px;
	font-size: 14px;
	transition: 0.4s linear;
	cursor: pointer;

}

.inner-width button:hover {
	background: #70a1ff;
	color: #fff;
}

@media screen and (max-width: 965px){

/*.profile{
	padding: 35px;
}*/

.profile-content{
	display: block;
	align-items: center;
	justify-content: center;
}


@media screen and (max-width: 600px)
	.name,.email {
		width: 100%;
	}
}