


body{
	margin: 0px;
	font-family:'Open Sans', sans-serif;

	
}

#header-image{
	height: 100vh;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.header{
	position: relative;
}

.header-text{
	display: inline;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 36px;
	color: white;
	width: 100%; /*david edit*/
	text-align: center; /*david edit*/
	font-size: calc(12px + 6 * ((100vw - 320px) / 600));
}

/*david edit*/
.header-text h1 {
	font-size: 4em;
}


.container{
	/*isplay: grid;
	place-items: center;*/
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 810px;
	box-sizing: border-box;
	padding: 35px;

}

.container h1,h2{
	text-align: center;
}

.container h1, h2, h3{
	font-weight: normal;
}

#profile-details {
	text-align: left;
}


.profile-content, hr{
	display: grid;
	grid-template-columns:repeat(auto-fill, minmax(220px, 1fr));
 	grid-gap: 10px;
}

.profile-image {
	text-align: center;
}

.profile-image img{
/*	max-width: 30%*/;
	border-radius: 50%; 
	margin: auto;
	width: 200px;
}

.checked {
	color: #738e6f;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	margin-bottom: 12px;
}
.ability-score{
	float: right;
}

.contact-info ul{
	display: table;
	width: 100%;
	list-style: none;
}


.contact-info ul li{
	display: table-cell;
	text-align: center;
	/*background-color: black;*/
}

.contact-info ul li a{
	display: block;
}

@media screen and (max-width: 965px){

/*.profile{
	padding: 35px;
}*/

.profile-content{
	display: block;
	align-items: center;
	justify-content: center;
}



}